<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="isServerAddressKnown" value="0"/>
    <add key="ServerIpAddress" value="10.3.0.107"/>
    <add key="ServerPort" value="8006"/>
  </appSettings>
</configuration>